@import 'tailwindcss' theme(static);
@import '@nuxt/ui';

@tailwind utilities;

@theme static {
    --spacing: 0.25rem;
    --ui-radius: var(--radius-sm);

    /* font family and texts */
    --font-*: initial;
    --font-sans: 'Inter', sans-serif;
    --font-montserrat: 'Montserrat', sans-serif;

    --text-10: 0.625rem;
    --text-12: 0.75rem;
    --text-13: 0.813rem;
    --text-14: 0.875rem;
    --text-15: 0.938rem;
    --text-16: 1rem;
    --text-17: 1.063rem;
    --text-18: 1.125rem;
    --text-20: 1.25rem;
    --text-22: 1.375rem;
    --text-24: 1.5rem;
    --text-26: 1.625rem;
    --text-28: 1.75rem;
    --text-30: 1.875rem;
    --text-32: 2rem;
    --text-36: 2.25rem;
    --text-48: 3rem;

    /* color  */
    --color-brown-50: #e9d0be;
    --color-brown-100: #e9d0be;
    --color-brown-200: #d6b299;
    --color-brown-300: #c19476;
    --color-brown-400: #a87757;
    --color-brown-500: #8c5b3b;
    --color-brown-600: #73472b;
    --color-brown-700: #73472b;
    --color-brown-800: #3b2111;
    --color-brown-900: #1b0f07;
    --color-brown-950: #1b0f07;

    --color-blucredit-50: #b8cdd5;
    --color-blucredit-100: #b8cdd5;
    --color-blucredit-200: #8aaab6;
    --color-blucredit-300: #5c8794;
    --color-blucredit-400: #2e616f;
    --color-blucredit-500: #003a48;
    --color-blucredit-600: #00303d;
    --color-blucredit-700: #00252f;
    --color-blucredit-800: #001920;
    --color-blucredit-900: #000c0f;
    --color-blucredit-950: #000c0f;

    --color-neutral-10: #fbfbfa;
    --color-neutral-50: #fafbfc;
    --color-neutral-100: #f8f9fa;
    --color-neutral-200: #f1f3f5;
    --color-neutral-300: #e9ecef;
    --color-neutral-400: #dee2e6;
    --color-neutral-500: #ced4da;
    --color-neutral-600: #adb5bd;
    --color-neutral-700: #868e96;
    --color-neutral-800: #495057;
    --color-neutral-900: #343a40;
    --color-neutral-950: #1e2226;

    /* --color-colorname-50: ;
    --color-colorname-100: ;
    --color-colorname-200: ;
    --color-colorname-300: ;
    --color-colorname-400: ;
    --color-colorname-500: ;
    --color-colorname-600: ;
    --color-colorname-700: ;
    --color-colorname-800: ;
    --color-colorname-900: ;
    --color-colorname-950: ; */

    /* --breakpoint-3xl */
    --breakpoint-3xl: 120rem;
}

body {
    @apply antialiased bg-neutral-10;
}

@layer utilities {
    .r-linex,
    .r-line-x {
        height: 0;
        @apply border-t;
    }
    .r-liney,
    .r-line-y {
        width: 0;
        @apply border-r;
    }
}

@utility r-disabled {
    @apply cursor-not-allowed opacity-50 pointer-events-none;
}

/*  !* Texts - 900, 700, 600,   *!*/
@utility r-text-color-5 {
    @apply text-neutral-500;
}
@utility r-text-color-4 {
    @apply text-neutral-600;
}
@utility r-text-color-3 {
    @apply text-neutral-700;
}
@utility r-text-color-2 {
    @apply text-neutral-800;
}
@utility r-text-color-1 {
    @apply text-neutral-900;
}

/*  !* Borders & Lines  *!*/
@utility r-border-color-1 {
    @apply border-neutral-200;
}
@utility r-border-color-2 {
    @apply border-neutral-300;
}
@utility r-border-color-3 {
    @apply border-neutral-400;
}
